.git
.idea
.vscode
.DS_Store

.env
.env.*
!.env.example

node_modules
vendor

database/*.sqlite*

public/build
public/hot
public/storage

storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail

bootstrap/cache/*.php

.phpunit.cache
.phpunit.result.cache
